.row {
  .col {
    padding: 20px !important;
    text-align: left;
    margin: 10px;


      .logoimg{
        max-width: 150px;
        max-height: 150px;
        min-height: 150px;
        min-width: 150px;
      }
    
    h2{text-align: center; margin-top: 10px;}
    h4{text-align: center;}
    p {
      margin: 0;
      text-align: left;
    }
  }
}
